@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

<br /><br />
<div class="container">
    <table class="table table-hover" style="width: 100%">
        <thead style="background-color: #112540; border: 1px solid #112540; text-align:center; color: #fff;">
            <tr>
                <th>
                    <div class="text-center" style="font-size: 15px;">
                        Logo
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        Title
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        Description
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        View
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 20%">
                    <img src="~/Images/logo.png" class="img-responsive" alt="">
                </td>
                <td style="width: 20%">
                    Cebu Innosoft Website
                </td>
                <td style="width: 45%">
                    Innosoft Solutions Services Inc. is a software company that focuses on development and delivering business software such as Point-Of-Sales Systems (POS), Financial Management Information Systems (FMIS) and Human Resource Information System (HRIS) to Micro, Small and Medium Business Enterprises (MSMBE) within the Philippine Archipelago.
                </td>
                <td style="width: 15%">
                    <a href="http://www.innosoft.ph/home" target="_blank" class="btn btn-info btn-block"> Website </a>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <img src="~/Images/easyfislogo.png" class="img-responsive" alt="">
                </td>
                <td style="width: 20%">
                    Cebu Innosoft Cloud Accounting System
                </td>
                <td style="width: 45%">
                    The easiest way to manage your sales, purchases, disbursements, collections, inventories and financials in the cloud using any device.
                </td>
                <td style="width: 15%">
                    <a href="http://www.easyfis.com/" target="_blank" class="btn btn-info btn-block"> Easyfis </a>
                    <a href="http://easyfiswebsite-innosoft.azurewebsites.net/Home" target="_blank" class="btn btn-info btn-block"> Innosoft's Easyfis </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
